<div>
  <div>
      <%= form_tag(do_search_locations_path, method: "get") do%>
        <div class="search-form">
          <label>Destination:</label>
          <%= text_field_tag(:location_name, nil, placeholder: 'Acadia National Park') %>
        </div>
        <div class="search-form">
          <label>Date of Stargazing:</label>
          <%= date_field_tag(:date, Date.today, id: "date_form") %>
        </div>
      <%= submit_tag("Search", class:'map-btn') %>
    <% end %>
  </div>
</div>