<div class="row d-flex justify-content-center">
  <div class="col-md-6 col-md-offset-3">
      <%= form_tag(do_search_locations_path, method: "get") do%>
        <label>Location Name</label>
        <%= text_field_tag(:location_name, nil, placeholder: 'Acadia National Park') %>
        <label>Date</label>
        <%= date_field_tag(:date, Date.today, id: "date_form") %>
      <%= submit_tag("Search", class:'map-btn') %>
    <% end %>
  </div>
</div>