<script>
    function select_date(date){
    document.getElementById("date_form").value= date;
    }
</script>

<div class="homepage-card">
            <%= month_calendar do |date| %>
                    <button class="calendar-button" value=<%= date %> onclick="select_date(this.value)"><%= date.day %></button>
            <% end %>
            <%= render 'search'%>
</div>
