       <script>
          function select_date(date){
          document.getElementById("date form").value= date;
          }
       </script>

<div class="container">
  <div class="row">
        <body class = "background">
        <div class="col-6 p-100 simple_calendar">
            <%= month_calendar do |date| %>
                <span>
                    <button class="calendar-button" value=<%= date %> onclick="select_date(this.value)"><%= date.day %></button>
                </span>
            <% end %>
        </div>
    </div>
    <input type="date" id="date form">
</div>
