       <script>
          function select_date(param){
          document.getElementById("date form").value= param;
          }
       </script>

<div class="container">
  <div class="row">
        <body class = "background">
        <div class="col-6 p-100 simple_calendar">
            <%# <iframe src="https://calendar.google.com/calendar/embed?height=500&wkst=1&bgcolor=%23A79B8E&ctz=America%2FNew_York&showTitle=0&showTabs=0&showDate=1&showNav=0" style="border:solid 1px #777" width="380" height="500" frameborder="0" scrolling="no"></iframe> %>
            <%= month_calendar do |date| %>
                <div>
                    <%= date.day %>
                    <button value=<%= date %> onclick="select_date(this.value)">Select Date</button>
                </div>
            <% end %>
        </div>
    </div>
    <input type="date" id="date form">
</div>
