<% provide(:title, 'Map') %>
<div class='row' id='map-row'>
  <div class='col-sm-5' id='map-left'>
    <div class="container mx-auto mt-4">
      <div class="row" id='posts-map'>
        <%= will_paginate @locations, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
          <%= render @locations %>
        <%= will_paginate @locations, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
      </div>
    </div>
  </div>

  <div class='col-sm-7'>
    <%= render 'maps/map' %>
  </div>
</div>

<script>
  var footer = document.getElementById("div-footer");
  footer.style.display = "none";
</script>
