<% provide(:title, 'Map') %>
<div class='row'>
  <div class='col-sm-5'>
    <div class="container mx-auto mt-4">
      <div class="row">
       <%= render @locations %>
      </div>
    </div>
  </div>

  <div class='col-sm-7'>
    <%= render 'maps/map' %>
  </div>
</div>

<script>
  var footer = document.getElementById("div-footer");
  footer.style.display = "none";
</script>
