<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate @collection, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>

<ul class="users">
    <%= render @users %>
</ul>

<%= will_paginate @collection, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>