/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require simple_calendar
 */

 .calendar-heading {
  display: flex;
  justify-content: space-between;
}

  .search-form {
    font-size: 1.2em;
    margin: 2%;
  }

 .homepage-card {
    align-self: center;  
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin: 40px;
    margin-right: auto;
    width: 600px;
    min-width: 400px;
    min-height: fit-content;
    font-family: "Century Gothic";
 }

 body {
    background-image: url(background-image-stars.jpg);
    background-size: cover;
 }

 .calendar-button {
    width: 100%;
    min-height: 65px;
    border-width: 0px;
    transition-duration: 0.2s;
    padding: 0px;
    margin: 0px;
    background-color: transparent;
  }

  .calendar-button:hover {
    background-color: #8e8e8e;
  }

  .calendar-button:focus {
    background-color: #000000;
    color:white;
  }

  .simple-calendar{
    border-style: solid;
    border-width: 3px;
    border-color: rgb(149, 149, 149);
    padding: 1%;
  }