@import 'bootstrap';

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* body */

.background {
  background-image: url(starpic.webp);
  background-size: fit;
  height: 100%;
  width: 100%;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.margin_top {
  width: 100%;
  padding-right: var(--bs-gutter-x,.75rem);
  padding-left: var(--bs-gutter-x,.75rem);
  margin-top: 100px;
  margin-left: auto;
}

h1 {
  text-align: center;
}

/* table */
table {
  border-collapse: collapse;
  background: white;
  color: black;
}
th,
td {
  font-weight: bold;
}

/* footer */

footer {
  margin-top: 50px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
  // position: relative;
  // height: XXX;
  bottom: 0;
  width: 100%;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

@media (max-width: 800px) {
  footer {
    small {
      display: block;
      float: none;
      margin-bottom: 1em;
    }
    ul {
      float: none;
      padding: 0;
      li {
        float: none;
        margin-left: 0;
      }
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar_edit {
  margin-top: 15px;
}

/* user info */
.user_info_avatar {
  width: 100;
  height: 100;
}

.user_info_name {
  color: #222;
  margin-top: 15px;
}

/* forms */

input,
textarea,
select,
.uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error !optional;
  .form-control {
    color: red; //$state-danger-text
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Dropdown menu */

.dropdown-menu.active {
  display: block;
}

/* Map */
#map {
  position: fixed;
  top: 55px;
  background-color: #222;
  width: 100%;
  height: 100%;
}

:root {
  --gradient: linear-gradient(to left top, #800080 10%, #000080 90%) !important;
}

.card {
  width: 25rem;
  height: auto;
  background: #222;
  border: 1px solid #777;
  color: rgba(250, 250, 250, 0.8);
  margin-bottom: 2rem;
}

.card-body-2 {
  justify-content: center;
  display: flex;
}

.list-group-item {
  background: #222;
  color: rgba(250, 250, 250, 0.8);
  border: 1px solid #777;

}

.map-btn {
  border: 5px solid;
  border-image-slice: 1;
  background: var(--gradient) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  border-image-source: var(--gradient) !important;
  text-decoration: none;
  transition: all 0.4s ease;
}

.map-btn:hover,
.map-btn:focus {
  background: var(--gradient) !important;
  -webkit-background-clip: none !important;
  -webkit-text-fill-color: #fff !important;
  border: 5px solid #fff !important;
  box-shadow: #222 1px 0 10px;
  text-decoration: underline;
  }

  /* Users index */

  .users {
    list-style: none;
    margin: 0;
    li {
      overflow: auto;
      padding: 10px 0;
      border-bottom: 1px solid #e8e8e8;
    }
  }

  /* posts */
  .posts {
    list-style: none;
    padding: 0;
    li {
      padding: 10px 0;
      border-top: 1px solid #e8e8e8;
    }
    .user {
      margin-top: 5em;
      padding-top: 0;
    }
    .message {
      display: block;
      margin-left: 60px;
      img {
        display: block;
        padding: 5px 0;
      }
    }
    .timestamp {
      color: gray;
      display: block;
      margin-left: 60px;
    }
    .gravatar {
      float: left;
      margin-right: 10px;
      margin-top: 5px;
    }
  }


  /* ########################################################## */

@import url(https://fonts.googleapis.com/css?family=PT+Sans);
body {
	font-family: "PT Sans", sans-serif;
	background: #ffffff;
}

/* CSS Resets */
aside,
section,
p,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

aside {
	display: block;
}

/* Common Styles */
.btn {
	background-color: #ffffff;
	padding: 10px;
	color: #191919;
	font-weight: bold;
	border: none;
	border-radius: 3px;
	margin: 2px;

	&:hover {
		color: #ffffff;
		cursor: pointer;
		outline: none;
		background-color: #192e4d;
	}
}

/* Custom Styles */
.layout {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-top: 3%;
}
aside {
	color: #fff;
	width: 50%;
	text-align: center;
	padding: 0;

	.desc {
		font-size: 0.8rem;
	}

  img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 500px;
    }
}

.post {
	background: #fff;
	box-shadow: 2px 1px 4px 2px rgba(100, 100, 100, 0.4);
	width: 500px;
	border: 2px solid #f3f3f3;
	border-radius: 3px;
	color: #191919;
	display: flex;
	flex-direction: column;
	margin: 0;
  margin-left: 30px;
	.info {
		padding: 10px 20px;
		margin: 0;
		border-bottom: 1px solid #d4d4d4;
		.user {
			font-weight: bold;
			text-decoration: none;
			color: #191919;
		}
	}

	.post-header {
		padding: 10px 20px 0;
		display: flex;
		flex-direction: row;
		width: 100%;
		justify-content: flex-start;

		.content {
			width: 90%;
			padding: 10px 0;
			.title, .updated {
				color: #a4a5a5;
				font-size: 0.9rem;
				font-weight: normal;
			}
		}

		.avatar-wrapper {
			width: 15%;
			padding: 10px 0;
			margin: 0;
			.avatar {
				width: 60px;
				height: 60px;
				border-radius: 50%;
			}
		}
	}
	
	.post-content {
		margin: 0;
		padding: 10px 20px 5px;
		color: #181818;
		.stats {
			padding: 10px 0;
			color: #a4a5a5;
			font-size: 0.8rem;
			font-weight: normal;
			border-bottom: 1px solid #d5d5d5;
		}
	}
	
	.post-comment-feed {
		background: #f3f3f3;
		padding: 20px;
		.add-comment, .comment {
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			margin-bottom: 10px;
			.avatar-wrapper {
				margin: 0;
				padding: 0;
			}
			.avatar {
				width: 30px;
				height: 30px;
				border: 1px solid #ffffff;
				border-radius: 50%;
			}
		}
	}
}


.post .post-comment-feed .add-comment .textfield,
.post .post-comment-feed .comment .content {
	padding: 0 10px;
}

.post .post-comment-feed .comment .content .user {
	font-weight: bold;
	font-size: 0.9rem;
}

.post .post-comment-feed .comment .content .text {
	font-size: 0.9rem;
	color: #181818;
}

.post .post-comment-feed .comment .content .updated {
	font-size: 0.8rem;
	color: #181818;
	font-weight: normal;
}
.post .post-comment-feed .add-comment .textfield {
	background: #fff;
	margin-left: 10px;
	padding-right: 0;
	border: 1px solid #f4f4d4;
}

.post .post-comment-feed .add-comment .textfield::before {
	position: absolute;
	content: "";
	width: 0;
	height: 0;
	border-left: none;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-right: 10px solid #ffffff;
	margin-left: -18px;
	margin-top: 5px;
}
.post .post-comment-feed .add-comment .textfield .btn {
	font-size: 1rem;
	padding: 5px;
}

.post .post-comment-feed .add-comment .textfield .btn:hover {
	background: none;
	color: #192e4d;
}

.post .post-comment-feed .add-comment .textfield input[type="text"] {
	border: none;
	font-size: 0.8rem;
	width: 350px;
	outline: none;
	line-height: 1rem;
}

#map-row {
  margin-top: -62px;
}

/* Map Marker */

.marker_orange {
  background-image: url('mapbox-marker-icon-orange.svg');
  background-size: cover;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  // cursor: pointer;
}

.marker_green {
  background-image: url('mapbox-marker-icon-green.svg');
  background-size: cover;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  // cursor: pointer;
}

.marker_blue {
  background-image: url('mapbox-marker-icon-blue.svg');
  background-size: cover;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  // cursor: pointer;
}

.marker_gray {
  background-image: url('mapbox-marker-icon-gray.svg');
  background-size: cover;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  // cursor: pointer;
}

.marker_purple {
  background-image: url('mapbox-marker-icon-purple.svg');
  background-size: cover;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  // cursor: pointer;
}

/* Media Query */

@media screen and (max-width: 1000px) {
  .layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
  }
  aside {
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 0;

    .desc {
        font-size: 0.8rem;
    }

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 500px;
    }
  }

  .post {
    background: #fff;
    box-shadow: 2px 1px 4px 2px rgba(100, 100, 100, 0.4);
    width: 500px;
    border: 2px solid #f3f3f3;
    border-radius: 3px;
    color: #191919;
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-left: 0px;
  }

/* location card */
// #li_bg_color {
//   background-color: #222;
// }


/* Calendar */
.simple-calendar {
  table {
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgb(221, 221, 221);
    border-collapse: collapse;
    box-sizing: border-box;
    max-width: 100%;
    width: 100%;
  }

  tr {
    border-collapse: collapse;
  }

  th {
    padding: 6px;
    border-bottom: 2px solid rgb(221, 221, 221);
    border-collapse: collapse;
    border-left: 1px solid rgb(221, 221, 221);
    border-right: 1px solid rgb(221, 221, 221);
    border-top: 0px none rgb(51, 51, 51);
    box-sizing: border-box;
    text-align: left;
    background: white
  }

  td {
    padding: 6px;
    vertical-align: top;
    width: 14%;

    border: 1px solid #ddd;
    border-top-color: rgb(221, 221, 221);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(221, 221, 221);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(221, 221, 221);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(221, 221, 221);
    border-left-style: solid;
    border-left-width: 1px;
  }

  .day {
    height: 80px;
    background: white
  }

  .wday-0 {
  }
  .wday-1 {
  }
  .wday-2 {
  }
  .wday-3 {
  }
  .wday-4 {
  }
  .wday-5 {
  }
  .wday-6 {
  }

  .today {
    background: #FFFFC0
  }

  .past {
  }
  .future {
  }

  .start-date {}

  .prev-month {
    background: black;
  }
  .next-month {
    background: #DDD;
  }
  .current-month {}

  .has-events {}
}
  #map-row {
    flex-direction: column;
    #map {
      height: 40%;
      width: 100%;
      left: 0px;
    }

    #map-left {
      margin-top: 24em;
      flex-direction: row;
    }
  }
}



    /*

  All grid code is placed in a 'supports' rule (feature query) at the bottom of the CSS (Line 310). 
          
  The 'supports' rule will only run if your browser supports CSS grid.

  Flexbox and floats are used as a fallback so that browsers which don't support grid will still recieve a similar layout.

  */

  /* Base Styles */

  *,
  *::before,
  *::after {
      box-sizing: border-box;
  }

  body {
      font-family: "Open Sans", Arial, sans-serif;
      min-height: 100vh;
      background-color: #fafafa;
      color: #262626;
      padding-bottom: 30px;
  }

  img {
      display: block;
  }

  .container {
      max-width: 935px;
      margin: 0 auto;
      padding: 0 20px;
  }

  .btn {
      display: inline-block;
      font: inherit;
      background: none;
      border: none;
      color: inherit;
      padding: 0;
      cursor: pointer;
  }

  .btn:focus {
      outline: 5px auto #4d90fe;
  }

  .visually-hidden {
      position: absolute !important;
      height: 1px;
      width: 1px;
      overflow: hidden;
      clip: rect(1px, 1px, 1px, 1px);
  }

  /* location-profile Section */

  .location-profile {
      padding: 50px 0;
  }

  .location-profile::after {
      content: "";
      display: block;
      clear: both;
  }

  .location-profile-image {
      float: left;
      width: calc(33.333% - 10px);
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 30px;
  }

  .location-profile-image img {
      border-radius: 50%;
      height: "250";
      width: "250";
  }

  .location-profile-title,
  .location-profile-stats,
  .location-profile-bio {
      float: left;
      width: calc(66.666% - 20px);
  }

  .location-profile-title {
      margin-top: 11px;
  }

  .location-profile-spot-name {
      display: inline-block;
      font-size: 32px;
      font-weight: 300;
  }

  .location-profile-save-btn {
      font-size: 14px;
      line-height: 1.8;
      border: 1px solid #dbdbdb;
      border-radius: 3px;
      padding: 0 24px;
      margin-left: 2px;
  }

  .location-profile-settings-btn {
      font-size: 20px;
      margin-left: 10px;
  }

  .location-profile-stats {
      margin-top: 23px;
  }

  .location-profile-stats li {
      display: inline-block;
      font-size: 16px;
      line-height: 1.5;
      margin-right: 40px;
      cursor: pointer;
  }

  .location-profile-stats li:last-of-type {
      margin-right: 0;
  }

  .location-profile-bio {
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
      margin-top: 23px;
  }

  .location-profile-nick-name,
  .location-profile-stat-count,
  .location-profile-save-btn {
      font-weight: 600;
  }

  /* Gallery Section */

  .gallery {
      display: flex;
      flex-wrap: wrap;
      margin: -10px -10px;
      padding-bottom: 30px;
  }

  .gallery-item {
      position: relative;
      flex: 1 0 220px;
      margin: 10px;
      color: #fff;
      cursor: pointer;
  }

  .gallery-item:hover .gallery-item-info,
  .gallery-item:focus .gallery-item-info {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.3);
  }

  .gallery-item-info {
      display: none;
  }

  .gallery-item-info li {
      display: inline-block;
      font-size: 17px;
      font-weight: 600;
  }

  .gallery-item-likes {
      margin-right: 22px;
  }

  .gallery-item-type {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 25px;
      text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  }

  .fa-clone,
  .fa-comment {
      transform: rotateY(180deg);
  }

  .gallery-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
  }

  /* Loader */

  .loader {
      width: 50px;
      height: 50px;
      border: 6px solid #999;
      border-bottom-color: transparent;
      border-radius: 50%;
      margin: 0 auto;
      animation: loader 500ms linear infinite;
  }

  /* Media Query */

  @media screen and (max-width: 400px) {
      .location-profile {
          display: flex;
          flex-wrap: wrap;
          padding: 400px 0;
      }

      .location-profile::after {
          display: none;
      }

      .location-profile-image,
      .location-profile-title,
      .location-profile-bio,
      .location-profile-stats {
          float: none;
          width: auto;
      }

      .location-profile-image img {
          width: 77px;
      }

      .location-profile-title {
          flex-basis: calc(100% - 1070px);
          display: flex;
          flex-wrap: wrap;
          margin-top: 10px;
      }

      .location-profile-spot-name {
          font-size: 22px;
      }

      .location-profile-save-btn {
          order: 1;
          padding: 0;
          text-align: center;
          margin-top: 10px;
      }

      .location-profile-save-btn {
          margin-left: 0;
      }

      .location-profile-bio {
          font-size: 14px;
          margin-top: 15px;
      }

      .location-profile-save-btn,
      .location-profile-bio,
      .location-profile-stats {
          flex-basis: 100%;
      }

      .location-profile-stats {
          order: 1;
          margin-top: 15px;
      }

      .location-profile-stats ul {
          display: flex;
          text-align: center;
          padding: 12px 0;
          border-top: 1px solid #dadada;
          border-bottom: 1px solid #dadada;
      }

      .location-profile-stats li {
          font-size: 14px;
          flex: 1;
          margin: 0;
      }

      .location-profile-stat-count {
          display: block;
      }
  }

  /* Spinner Animation */

  @keyframes loader {
      to {
          transform: rotate(360deg);
      }
  }

  /*

  The following code will only run if your browser supports CSS grid.

  Remove or comment-out the code block below to see how the browser will fall-back to flexbox & floated styling. 

  */

  @supports (display: grid) {
      .location-profile {
          display: grid;
          grid-template-columns: 1fr 2fr;
          grid-template-rows: repeat(3, auto);
          grid-column-gap: 30px;
          align-items: center;
      }

      .location-profile-image {
          grid-row: 1 / -1;
      }

      .gallery {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
          grid-gap: 20px;
      }

      .location-profile-image,
      .location-profile-title,
      .location-profile-stats,
      .location-profile-bio,
      .gallery-item,
      .gallery {
          width: auto;
          margin: 0;
      }

      @media (max-width: 400px) {
          .location-profile {
              grid-template-columns: auto 1fr;
              grid-row-gap: 15px;
          }

          .location-profile-image {
              grid-row: 1 / 2;
          }

          .location-profile-title {
              display: grid;
              grid-template-columns: auto 1fr;
              grid-gap: 10px;
          }

          .location-profile-save-btn,
          .location-profile-stats,
          .location-profile-bio {
              grid-column: 1 / -1;
          }

          .location-profile-title,
          .location-profile-save-btn,
          .location-profile-settings-btn,
          .location-profile-bio,
          .location-profile-stats {
              margin: 0;
          }
      }
  }
