<div id="<%= dom_id location %>">
  <p>
    <strong>Location name:</strong>
    <%= location.location_name %>
  </p>

  <p>
    <strong>Average_rate:</strong>
    <%= location.average_rate %>
  </p>

</div>
