<div id="<%= dom_id location %>">
  <p>
    <strong>Location name:</strong>
    <%= location.location_name %>
  </p>

  <p>
    <strong>Coordinates:</strong>
    <%= location.coordinates %>
  </p>

</div>
