<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="layout">
	<aside> 
        <img src="https://images.unsplash.com/photo-1502675135487-e971002a6adb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDZ8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60?w=500&h=500&fit=crop" alt="">
	</aside>
	
	
    <article class="post">
    <div class="info"> 
        <a href="#" class="user"> User name </a>
        <span class="text"> commented on this</span>
        </div>
        <!-- Post Header -->
        <header class="post-header">
            <figure class="avatar-wrapper">
                <img src="https://images.unsplash.com/photo-1599566150163-29194dcaad36?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8YXZhdGFyfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" class="avatar" alt="Post avatar" />
            </figure>
            <div class="content">
                <h3> Firstname Lastname</h3>
                <p class="title"> Description </p>
                <span class="updated"> 12h. Commented</span>
            </div>
        </header>
        
        <!-- Post Content Section -->
        <section class="post-content">
            <p class="content"> 
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
            </p>
            <div class="stats">
                <span clas="likes"> 12 Likes </span>
                <span class="comments"> . 2 Comments</span>
            </div>
            <div class="post-controls">
                <button class="btn btn-like"> <i class="fa fa-thumbs-up" aria-hidden="true"></i> Like </button>
                <button class="btn btn-comment"> <i class="fa fa-comment" aria-hidden="true"></i> Comment </button>
                <button class="btn btn-share"> <i class="fa fa-share" aria-hidden="true"></i> Share </button>
            </div>
        </section>

        <!-- Post Comments Section -->
        <section class="post-comment-feed">
            <div class="comment">
                <figure class="avatar-wrapper">
                    <img src="https://images.unsplash.com/photo-1527980965255-d3b416303d12?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8YXZhdGFyfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" class="avatar" alt="Post avatar" />
                </figure>
                <div class="content">
                    <span class="user"> Firstname Lastname </span>
                    <span class="text"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </span>
                    <h5 class="updated"> 10hr. </h5>
                </div>
            </div>
                    
            <div class="comment">
                <figure class="avatar-wrapper">
                    <img src="https://images.unsplash.com/photo-1607746882042-944635dfe10e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGF2YXRhcnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" class="avatar" alt="Post avatar" />
                </figure>
                <div class="content">
                    <span class="user"> Firstname Lastname </span>
                    <span class="text"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span>
                    <h5 class="updated"> 8hr. </h5>
                </div>
            </div>                    
            <div class="add-comment"> 
                <figure class="avatar-wrapper">
                    <img src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGF2YXRhcnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" class="avatar" alt="Post avatar" />
                </figure>
                <div class="textfield">			 		
                    <input type="text" name="comment" placeholder="Add a comment"/>
                    <button class="btn btn-camera"> <i class="fa fa-camera-retro" aria-hidden="true"></i>  </button>
                </div>
            </div>
        </section>

    </article>
</div>