<% provide(:title, 'Locations') %>
<p style="color: green"><%= notice %></p>

<h1>Locations</h1>

<div id="locations">
  <% @locations.each do |location| %>
    <%= render location, date:  @show_date %>
  <% end %>
</div>

<%= link_to "Back to home page", root_path %>