<% provide(:title, 'Locations') %>
<p style="color: green"><%= notice %></p>

<h1>Locations</h1>

<div class="container">
  <div class="gallery">
    <div class="row" id="locations">
      <% @locations.each do |location| %>
        <%= render location, date: @show_date, location: location, cloudCover: nil, bortleScale: nil, score: nil %> 
      <% end %>
    </div>
  </div>
  <%= link_to "Back to home page", root_path %>
</div>

