<footer class="footer">
  <small>
    Chasing Stars App by Jingqian Cheng, Jian He, Marco Qin, and Michael Jiang
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>
